body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
 h1 {
   font-size: 5.625rem;
   margin: 50px auto 0 auto;
   font-family: 'Dancing Script', cursive;
   color: #61764B;
 }

 h2 {
   font-size: 2.5rem;
   font-family: 'Montserrat' , sans-serif;
   color: #61764B;
   font-weight: normal;
   padding-bottom: 10px;
 }

 h3 {
    color: #61764B;
    margin: 100px auto 0 auto;
    font-family: 'Montserrat' , sans-serif;
 }

 p {
  line-height: 2;
 }

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #11999E;
  font-family: 'Montserrat' , sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6
}

.top-container {
  background-color: #C8DBBE;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #C8DBBE;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.School {
  background-color: #C8DBBE;
}

.bottom-cloud {
  position: absolute;
  left: 50px;
  bottom: 300px;
  top: 350px;
}

.top-cloud {
  position: absolute;
  right: 50px;
  top: 50px;
}

.teachers-corner {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.bus-image {
  width: 25%;
  float: left;
  margin-right: 30px;
  padding-left: 200px;
}


.Hearing {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.profile {
width: 30%;
margin: auto;
}

.Contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.contact-me {
  padding: 20px 0 20px;
  padding-top: 0%;
}

.copyright {
  color: #EaF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat' , sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
